{
	"env": {
		"es2022": true,
		"node": true,
		"browser": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"standard"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"space-before-function-paren": "off",
		"no-unused-vars": "warn",
		"@typescript-eslint/no-explicit-any": "off",
		"camelcase": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"no-multiple-empty-lines": "off",
		"no-tabs": "off",
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"quotes": ["warn", "single"],
		"jsx-quotes": ["warn", "prefer-single"],
		"eol-last": "off"
	},
	"overrides": [
		{
			"files": ["src/components/Header.js", "src/components/FetchPosts.js"],
			"rules": {
				"indent": "off",
				"no-mixed-spaces-and-tabs": "off"
			}
		}
	]
}
