@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scroll-behavior: smooth;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background: #000000;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body.loading * {
	transition: none !important;
}

@keyframes add-shadow {
	to {
		box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.25);
		background: rgba(0, 0, 0, 0.3);
	}
}

#header {
	backdrop-filter: blur(10px);
	animation: add-shadow linear both;
}

@media (max-width: 762px) {
	#header {
		position: sticky;
		top: 0;
		backdrop-filter: blur(10px);
		animation: add-shadow linear both;
	}
}

#header {
	animation-timeline: scroll();
	animation-range: 0 150px;
}

.text-header-shadow:hover {
	filter: drop-shadow(0 0 10px tomato);
}

.link-shadow:hover {
	filter: drop-shadow(0 0 15px orange);
}

.read-more:hover .arrow {
	transform: translateX(3px);
	transition: 0.3s ease-in-out;
}

.form input,
textarea {
	max-width: 200px;
	background-color: transparent;
	border-radius: 10px;
}

textarea {
	width: 300px;
	max-height: 300px;
	overflow: auto;
	resize: vertical;
}

.login-form .buttons-login > button {
	border: 1px solid #666;
	border-radius: 50px;
	padding: 4px 12px;
	font-weight: bold;
}

.login-form .buttons-login > button:hover {
	filter: drop-shadow(0 0 6px #999);
	background-color: #ccc;
	color: #000000;
	transition: 0.1s ease-in-out;
}

.hr-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 12px;
}

.hr-container hr {
	flex-grow: 1;
	height: 2px;
	background-color: #666;
	border: none;
	margin: 0 10px;
}

.spinner {
	position: fixed;
	left: calc(50% - 20px);
	top: 50%;
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: #f05252;
	z-index: 99;
	animation: spinn 1s linear infinite;
}

.language-button {
	position: relative;
	display: block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content {
	display: none;
	font-size: 12px;
	position: absolute;
	top: 26px;
	width: 133px;
	right: 35px;
	z-index: 99;
	gap: 8px;
	background-color: #1f1f22;
	border: 1px #45454c solid;
	border-radius: 15px 0px 15px 15px;
}

.language-button:hover .dropdown-content {
	display: flex;
	animation: drop-down forwards 0.1s ease-in-out;
}

@keyframes drop-down {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(100%);
	}
}

.link:hover .link-icon {
	transform: translateY(-2px);
	transition: 0.2s all;
}

@keyframes spinn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.project-card {
	transition: 0.5s ease-in-out;
}

.project-card:hover {
	border-radius: 6px;
	transition: 0.3s ease-in-out;
	
}
.image-card {
	transition: 0.5s ease-in-out;
	filter: drop-shadow(0 0 10px currentColor);
	filter: blur(45px);
	transform: translateY(-50px) translateX(-100px);
}
.project-card:hover img {
	transform: scale(1.6);
	transition-duration: .2s ease-in-out;
	filter: blur(45px);
}

.description-project {
	text-wrap: balance;
}

.flares {
	z-index: 0;
	overflow: hidden;
	background-image: linear-gradient(#010202, transparent);
	position: absolute;
	top: 0;
}

.flares img {
	position: absolute;
	top: 0%;
	bottom: auto;
}
.flares .flares-top {
	left: 0%;
	right: 0%;
}

.flares .flares-right {
	left: auto;
	right: 0%;
}

.span-location::before {
	content: '';
	position: absolute;
	padding: 2px;
	margin-top: 2px;
	right: 2px;
	height: 3px;
	border-radius: 100%;
	background-color: #161515;
	animation: none;
}

@keyframes custom-ping {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

.custom-ping {
	animation: custom-ping 2s infinite;
}

.last-visit {
	text-wrap: pretty;
}

.head-table th {
	padding: 5px;
	border: 1px solid #27272a;
	background-color: #3cdedb8c;
}

.result td {
	border: 1px solid #27272a;
	padding: 5px;
}

.update-dot {
	font-family: 'Cascadia Code PL SemiBold', Menlo;
}

.update-dot::before {
	content: '';
	position: absolute;
	padding: 2px;
	margin-top: 4.5px;
	left: -8px;
	height: 3px;
	background-color: limegreen;
	border-radius: 100%;
}

.shadow-star {
	stroke: #d4d4d8;
	stroke-width: 2px;
	fill: none;
}

.shadow-star:hover {
	filter: drop-shadow(0 0 6px #f1e52fee);
	transition: ease-in-out 0.2s;
	fill: #ed8a19;
	stroke: #ed8a19;
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

.rotation {
	animation: rotation 369s forwards ease infinite;
}

.text-area {
	resize: vertical;
}