@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scroll-behavior: smooth;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background: #18181b;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body.loading * {
	transition: none !important;
}

@keyframes add-shadow {
	to {
		box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.25);
		background: rgba(0, 0, 0, 0.3);
	}
}

#header {
	backdrop-filter: blur(10px);
	animation: add-shadow linear both;
}

@media (max-width: 762px) {
	#header {
		position: sticky;
		top: 0;
		backdrop-filter: blur(10px);
		animation: add-shadow linear both;
	}
}

#header {
	animation-timeline: scroll();
	animation-range: 0 150px;
}

.text-header-shadow:hover {
	filter: drop-shadow(0 0 10px #ffa600ab);
	transition: 0.3s ease-in-out;
}

.link-shadow {
	padding-inline: 4px;
	background-color: #928bf963;
	border-radius: 6px;
	text-decoration: none;
}

.link-shadow:hover {
	filter: drop-shadow(0 0 10px #928bf9) brightness(110%);
}

.read-more:hover .arrow {
	transform: translateX(3px);
	transition: 0.3s ease-in-out;
}

.contact-form {
	padding-block: 10px;
}

.contact-form > input,
textarea {
	background-color: transparent;
	border: 1px solid #333;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.contact-form > input:focus {
	outline: 2px solid #928bf9;
}

.message-alert {
	position: fixed;
	top: 0;
	left: 20%;
	justify-content: center;
	margin: 0 auto;
}

.hr-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 12px;
}

.hr-container hr {
	flex-grow: 1;
	height: 2px;
	background-color: #666;
	border: none;
	margin: 0 10px;
}

.spinner {
	position: fixed;
	left: calc(50% - 20px);
	top: 50%;
	border: 6px solid rgba(0, 0, 0, 0.1);
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border-left-color: #0284c7;
	z-index: 99;
	animation: spinn 1s linear infinite;
}

.language-button {
	position: relative;
	display: block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content {
	display: none;
	font-size: 12px;
	position: absolute;
	top: 28px;
	width: 133px;
	right: 35px;
	z-index: 99;
	gap: 8px;
	background-color: #1f1f22;
	border: 1px #45454c solid;
	border-radius: 15px 0px 15px 15px;
}

.language-button:hover .dropdown-content {
	display: flex;
	animation: drop-down forwards 0.1s ease-in-out;
}

@keyframes drop-down {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes spinn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.proyects-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin: 0;
}

.project-card {
	transition: 0.5s ease-in-out;
}

.project-card:hover {
	border-radius: 6px;
	transition: 0.3s ease-in-out;
}

.image-card {
	transition: 0.5s ease-in-out;
	filter: drop-shadow(0 0 10px currentColor);
	filter: blur(45px);
	transform: translateY(-50px) translateX(-100px);
}

.project-card:hover img {
	transform: scale(1.6);
	transition-duration: 0.2s ease-in-out;
	filter: blur(45px);
}

.description-project {
	text-wrap: balance;
}

.span-location::before {
	content: '';
	position: absolute;
	padding: 2px;
	margin-top: 2px;
	right: 2px;
	height: 3px;
	border-radius: 100%;
	background-color: #515159;
	animation: none;
}

@keyframes custom-ping {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

.custom-ping {
	animation: custom-ping 2s infinite;
}

.last-visit {
	text-wrap: pretty;
	color: #ff8a4c;
}

.visits {
    position: relative;
}

.visits::before {
	content: '';
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #eb9b6f;
    z-index: 0;
    filter: blur(180px) drop-shadow(0 0 150px #e99d73dc);
}

#visit {
    font-family:monospace;
}

.head-table th {
	padding: 5px;
	border: 1px solid #27272a;
	background-color: #4369d18c;
}

.result td {
	border: 1px solid #27272a;
	padding: 5px;
}

@font-face {
	font-family: 'CascadiaCodePL';
	src: url('/fonts/CascadiaCodePL-SemiBold.ttf') format('truetype');
}

.update-dot {
	font-family: 'CascadiaCodePL', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.update-dot::before {
	content: '';
	position: absolute;
	padding: 2px;
	margin-top: 5px;
	left: -8px;
	height: 3px;
	background-color: limegreen;
	border-radius: 100%;
}

.shadow-star {
	stroke: #d4d4d8;
	stroke-width: 2px;
	fill: none;
}

.shadow-star:hover {
	filter: drop-shadow(0 0 6px #f1e52fee);
	transition: ease-in-out 0.2s;
	fill: #ed8a19;
	stroke: #ed8a19;
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

.rotation {
	animation: rotation 369s forwards ease infinite;
}

.text-area {
	resize: vertical;
}

.cv-link {
	position: relative;
	overflow: hidden;
}
.cv-link:hover {
	color: #ffffff;
}
.cv-link::after {
	content: '';
	position: absolute;
	background-color: #928bf9a4;
	width: 25px;
	height: 25px;
	top: 17%;
	left: 37%;
	border-radius: 100%;
	filter: blur(5px);
	transition: all;
	display: none;
}

.cv-link:hover::after {
	animation: zoom forwards;
	animation-duration: 1.5s;
	display: block;
}

@keyframes zoom {
	0% {
		transform: scale(9);
		opacity: 1;
	}
	50% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(3.8);
		opacity: 1;
	}
}

.flavors-section {
	justify-content: center;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	margin-top: 20px;
}

.flavor-card:hover .logo-icon {
	filter: brightness(150%);
}

.github-users {
	display: grid;
	justify-content: center;
	margin: 50px auto;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.post-form {
	color: #1f1f22;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

	& > input,
	textarea {
		color: #1f1f22;
		border-bottom: 1px solid #999;
		padding: 10px;
		background-color: transparent;
	}

	& > input:focus {
		outline: none;
	}
}

.see-more:hover .arrow-right {
	transform: translateX(3px) translateY(-1px);
	transition: 0.2s ease-in-out;
}

@media (width >= 1920px) {
	body {
		width: 80%;
	}
}
