@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #000214;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@keyframes add-shadow {
	to {
		box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.25);
		background: rgba(0, 0, 0, 0.3);
	}
}

#header {
	backdrop-filter: blur(10px);
	animation: add-shadow linear both;
}

@media (max-width: 762px) {
	#header {
		position: sticky;
		top: 0;
		backdrop-filter: blur(10px);
		animation: add-shadow linear both;
	}
}

.text-header-shadow:hover {
	filter: drop-shadow(0 0 10px tomato);
}

#header {
	animation-timeline: scroll();
	animation-range: 0 150px;
}
